/*body {
    background-color: blue;
}*/
/***********class***********/
body {
    margin: 0;  
    text-align: center;   
    font-family: 'Merriweather', serif;
    color: #40514E;
    /*font-size: 2em;*/
}
h1 {
    /*width:10%;*/
    margin-top:0;
    /*position: absolute;*/
    font-size: 5.625rem;
    font-family: 'Sacramento', cursive;
    color: black;
    line-height: 2;
}
.h2Top
{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: black;
}
h2
{
    color: #66BFBF;
    font-weight: normal;
}
h3
{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
.top {
    background-color: #7FBCD2;
    position: relative;
    padding-top: 100px;
}
.middle 
{

}
.bottom 
{
    background-color: #66BFBF;
    margin-bottom: 0;
    padding: 20px;
}
.top-cloud
{
    position:absolute;
    top:50px;
    right: 300px;

}
.bottom-cloud
{
    position:absolute;
    left: 300px;
    bottom: 300px;
}
.profile-pic
{
    border-radius: 50%;
}
.skills-img
{
    border-radius: 50%;
    width: 25%;
    float: left;
    margin: 30px;
}
.Skills-img
{
    border-radius: 50%;
    width: 25%;
    float: right;
    margin: 30px;
}
.skill-row
{
    margin:auto;
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
    
}
.profile
{
    padding: 30px;
}
.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin: auto;
    position: absolute;
    left: 550px;
    margin: 30px;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
  .contact-me
  {
    margin-bottom: 30px;
    height: 200px;
  }
/**************************/
